@* @model NewProject.Application.CreateCourseInput; *@
@{
    Layout = "Layout/_FormContent";
}

@*//CourseMainInfo*@
<div class="row ml-0 w-100">
    <h4 class="col-12 form-section"><i class="ft-clipboard"></i>البيانات الرئيسية </h4>
    <div class="form-group col-md-4 mb-2">
        <lable class="form-lable req fw-bold mb-50 d-block"> @localizer["name"] <span class="badge badge-danger">@localizer["ar-EG"]</span> </lable>
        <input class="form-control" type="text" />
        <span class="invalid-feedback d-block">
            @TempData["name"]
        </span>
    </div>
</div>

@*//CourseInfo*@
<div class="row ml-0 w-100">
    <h4 class="col-12 form-section"><i class="la la-calendar-o" style="font-size: 2rem;"></i>معلومات الدورة </h4>
    <div class="form-group col-md-4 mb-2">
        <lable class="form-lable req fw-bold mb-50 d-block">تاريخ بدا الدورة</lable>
        <input type="date" class="form-control" id="StartDateTime" >
        <span class="invalid-feedback d-block">
            @TempData["StartDateTime"]
        </span>
    </div>

    <div class="form-group col-md-4 mb-2">
        <lable class="form-lable fw-bold mb-50 d-block">تاريخ انتهاء الدورة</lable>
        <input type="date" class="form-control" id="EndDateTime" >
        <span class="invalid-feedback d-block">
            @TempData["EndDateTime"]
        </span>
    </div>

    <div class="form-group col-md-4 mb-2">
        <lable class="form-lable fw-bold mb-50 d-block">الحد الاقصي لعدد الطلاب</lable>
        <input type="text" class="touchspin" data-bts-postfix="<i class='ft-users'></i>" value="10" minlength="1"/>
        <span class="invalid-feedback d-block">
            @TempData["DepartmentId"]
        </span>
    </div>

</div>

@section Styles
{

    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/forms/spinner/jquery.bootstrap-touchspin.css">
    <link rel="stylesheet" type="text/css" href="~/admin/app-assets/vendors/css/extensions/sweetalert.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Admin/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js"
            type="text/javascript"></script>
    <script src="~/admin/app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script src="~/Admin/app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js"
            type="text/javascript"></script>
    <script src="~/Admin/app-assets/js/scripts/forms/input-groups.js" type="text/javascript"></script>
}



