@using VacanciesTask.Shared.Helpers
@using Microsoft.IdentityModel.Tokens
@model IEnumerable<NewProject.Application.JobTitleDto>
@{

    ViewBag.title = "Home Page";
    Layout = "Layout/_CardView";
}

<!--------------------------------------------------------------------------------------------------------->
<a asp-action="Index" asp-controller="Home" asp-area="Admin" class="btn btn-primary mb-3">Post JobTitle</a>
<div class="row g-0">
    @if (!Model.IsNullOrEmpty())
    {
        @foreach (var job in Model)
        {
            <div class="col-lg-6 col-md-8">
                <div class="card jobTitleCard mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <h3>
                                <a asp-action="ShowJobTitle" asp-route-id="@job.Id">@job.Name</a>
                            </h3>
                            <ul>
                                <li><span>Job Category:</span> @job.JobCategory</li>
                                <li><span>Creation Date: </span>
                                    @Helper.diffDate(DateTime.Today, DateTime.Today.AddDays(3).AddHours(4))
                                </li>
                                <li><span>Maximum Applications: </span>@job.MaximumApplications</li>
                            </ul>
                        </div>
                        <div class="col-md-4 my-auto">
                            <div class="jobs-btn">
                                <a asp-action="ShowJobTitle" asp-route-id="@job.Id" class="default-btn ">Browse Job</a>
                                <p class="mt-1" style="font-size: 1rem"><span><b>Deadline:</b> </span>@(job.ValidityDuration.To.ToString("MMM dd, yyyy ddd"))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<!--------------------------------------------------------------------------------------------------------->

@section Styles {
    
}

@section Scripts {
    
}