
@using VacanciesTask.Shared.Helpers
@{
    ViewBag.title = "Dashboard";
    Layout = "Layout/_HorizontalLayout";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-ltr/pages/timeline.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/css-ltr/pages/dashboard-ecommerce.css">
    
    <link rel="stylesheet" type="text/css" href="~/admin/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/app-assets/vendors/css/extensions/sweetalert.css">
}

<!--------------------------------------------------------------------------------------------------------->
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 justify-content-end">
        <a asp-action="Create" asp-controller="JobTitle" asp-area="Admin" class="btn btn-info white float-right">
            <i class="ft-file-plus"></i>
            Add New
        </a>
    </div>
    <table class="table data-table table-striped table-bordered zero-configuration text-center">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>JobCategory</th>
            <th>MaximumApplications</th>
            <th>UserApplyCount</th>
            <th>SkillsCount</th>
            <th>StartDate</th>
            <th>EndDate</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="7"><span class="text-capitalize fw-bold">emptyTable</span></td>
        </tr>
        </tbody>
    </table>

    @*
<div class="col-md-4">
    <div class="form-group">
        <label for="jobTitleSearch" class="form-label" style="font-size: 1rem">Search Name:</label>
        <div class="d-flex">
            <input id="jobTitleSearch" class="form-control" type="text">
            <button id="filterName" type="button" class="btn btn-primary mx-2"><i class="ft-search"></i> Search</button>
        </div>
    </div>
</div>

<div class="table-responsive text-center overflow-hidden">
    <table class="table table-de mb-0">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>JobCategory</th>
            <th>Skills Cont</th>
            <th>MaximumApplications</th>
            <th>StartDate</th>
            <th>EndDate</th>
        </tr>
        </thead>
        <tbody>
        
        @#1#if (ViewBag.JobTitles?.Count>0)
        {
            @for (var i = 0; i < ViewBag.JobTitles.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@(ViewBag.JobTitles[i]?.Name)</td>
                    <td>@(ViewBag.JobTitles[i]?.JobCategory)</td>
                    <td>@(ViewBag.JobTitles[i]?.SkillsCont)</td>
                    <td>@(ViewBag.JobTitles[i]?.MaximumApplications)</td>
                    <td>@(ViewBag.JobTitles[i]?.StartDate)</td>
                    <td>@(ViewBag.JobTitles[i]?.EndDate)</td>
                </tr>
            }
        }#1#
        
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing  entries</div></div>
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                <ul class="pagination justify-content-end">
                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                        <a href="#" aria-controls="DataTables_Table_0" aria-disabled="1" data-dt-idx="1" tabindex="1" class="page-link">Previous</a>
                    </li>
                    <li class="paginate_button page-item next" id="DataTables_Table_0_next">
                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="2" class="page-link">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    function GetJobData() {
       var nameFilter = document.getElementById("jobTitleSearch");
       let filterQuery = {Name: nameFilter, page: 1};
       
        fetch('@Url.Action("JobTitleList")', { method: 'POST',
        body: JSON.stringify(filterQuery)
         })
        .then(Result => Result.json())
        .then(res => {
            console.log(res)
            if (res.success){
                if (res.data.filter.total){
                    res.data.jobTitles.foreach((e)=> {
                        console.log(e)
                    })
                }
            }else {
                console.log("filter error")
            }
        })
        .catch(errorMsg => { console.log(errorMsg); });
    }
        var btn = document.getElementById("filterName");
        btn.onclick = function() {
            GetJobData();
        }
</script>
}*@
</div>

<!--------------------------------------------------------------------------------------------------------->
@section Scripts {
    <script src="~/admin/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <script src="~/admin/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/admin/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js" type="text/javascript"></script>

    <script src="~/admin/app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>
        let table = $(document).ready(function () {

            //$(".CreateBtn").attr("href", `Department/Create`);
            let table = $(".data-table").DataTable({ 
                "processing": true,        
                "serverSide": true,
                "filter": true,
                "orderMulti": false, 
                "lengthChange": false,
                "pageLength": 3,
                "paging": true,//false No matching records found
                "pagingType": "simple",        
                "ajax": {
                    "url": "@Url.Action("Index")",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                {
                    "name": "#",
                    "autoWidth": true,
                    "title": "#",
                    "render": function (data, type, full, meta) {
                        return (meta.settings._iDisplayLength * table.page.info().page) + meta.row + 1
                    }
                }, 
                { "data": "name"||"-", "name": "Name", "autoWidth": true, "orderable": false },
                { "data": "jobCategory"||"-", "name": "JobCategory", "autoWidth": true, "orderable": false },
                { "data": "maximumApplications"||"-", "MaximumApplications": "Name", "autoWidth": true, "orderable": false },
                { "data": "userApplyCount"||"-", "name": "UserApplyCount", "autoWidth": true, "orderable": false },
                { "data": "skillsCount"||"-", "name": "SkillsCont", "autoWidth": true, "orderable": false },
                { "data": "startDate"||"-", "name": "StartDate", "autoWidth": true, "orderable": false },
                { "data": "endDate"||"-", "name": "Name", "EndWidth": true, "orderable": false },
                
                {
                    name: "Actions",
                    "autoWidth": false,
                    orderable: false,
                    "render": function (data, type, full, meta) {
                        let html = '';
                        html += ` <a href="@Url.Action("Edit", controller: "JobTitle")?id=${full.id}" class="btn btn-info white mb-1 mx-50" data-toggle="tooltip" data-placement="top" title="edit"><i class="ft-edit"></i></a>`;
                        html += `<button type="button" class="confirm-delete btn btn-danger white mb-1 mx-50" data-guid="${full.id}" title="@localizer["delete"]"><i class="ft-trash-2"></i></button>`;
                        return html;
                    }
                },
            ]
        });
    });
        
    $(document).on('click', '.confirm-delete' , function () {
        let guid = $(this).data("guid");
        swal({
            title: `Are you sure to Delete this JobTitle?`,
            text: "JobTitle Will Be Remove and All Relation Date!",
            icon: "warning",
            showCancelButton: true,
            buttons: {
                cancel: {
                    text: "No Cancel",
                    value: null,
                    visible: true,
                    className: "btn-warning",
                    closeModal: false,
                },
                confirm: {
                    text: "Yes Delete",
                    value: true,
                    visible: true,
                    className: "btn-danger",
                    closeModal: false
                }
            }
        }).then(isConfirm => {
            if (isConfirm) {
                $.ajax({
                    method: "DELETE",
                    url: `@Url.Action("Delete", controller:"JobTitle", new { area = "Admin" })?id=${guid}`,
                    success: function(data){
                        if (data.success === true) {
                            swal("Data Deleted!", data.msg, "success");
                            $('.data-table').DataTable().ajax.reload()
                        }else
                        {
                            swal("Not Found!", "JobTitle Data is not Found!", "error");
                        }
                    }
                });
            } else {
                swal("Cancelled Request!", `No Data Remove`, "warning");
            }
        });
    });   
</script>

}